@import "reset";
@import "vars";
@import"fonts";
@import "global";
@import "mixins";




//=======================header====================================
.header__bg {
    background: url("../Img/Images/header-bg.jpg") center center / cover no-repeat;
    max-height: 100%;

}

.header {

    &__inner {
        padding-top: 30px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logos {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 15px;

    }

    &__logo-text {
        max-width: 240px;
        font-size: 13px;
        line-height: 16px;
    }

    &__nav {
        display: flex;
    }

    &__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;

        & li:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__nav-text {
        font-size: 13px;
        line-height: 18px;
        max-width: 136px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__phonebox {
        margin-right: 20px;
    }

    &__phone {
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        color: $text-color;

    }

    &__phone-text {
        position: relative;
        margin-top: 5px;
        font-size: 12px;
        line-height: 14px;
        padding-left: 57px;

        &::before {
            position: absolute;
            top: 2px;
            left: 17px;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #22C74E;
        }
    }

    &__call {
        @extend %defualt-btn;
        width: 180px;
        height: 40px;
    }

    &__title {
        max-width: 650px;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        margin-top: 72px;

        span {
            color: $text-span;
        }
    }

    hr {
        margin: 25px 0;
        border: 3px solid #FFCF6E;
        width: 100px;
    }

    &__subtitle {
        max-width: 400px;
        margin-bottom: 40px;
    }

    &__btn {
        position: relative;
        @extend %defualt-btn;
        font-weight: 700;


        &::after {
            position: absolute;
            content: "";
            background-image: url("../Img/Decor/smeta\ 1.png");
            display: block;
            top: -50%;
            left: 84%;
            width: 114px;
            height: 120px;
        }

    }
}

// ====================repair=====================================
.repair {
    margin-top: 80px;

    &__heading {
        text-align: center;
    }

    &__title {
        @extend %default-title;
        max-width: 660px;
        margin-bottom: 7px;

        span {
            color: $text-span;
        }
    }


    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
        margin-bottom: 97px;
    }

    &__item {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(359.21deg, #1A1A1A 1.21%, rgba(26, 26, 26, 0.4) 99.86%);
        }
    }

    &__item-img {
        object-fit: cover;
        max-width: 100%;
    }

    &__item-text {
        z-index: 1;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%);

    }


    &__item-name {
        color: white;
        font-size: 33px;
        line-height: 41px;
        text-align: center;
    }

    &__item-paragraph {
        color: #FFC771;
        font-weight: 700;
        font-size: 33px;
        line-height: 42px;
        text-align: center;
    }



    &__link {
        z-index: 1;
        position: absolute;
        left: 50%;
        bottom: 15%;
        transform: translate(-50%);
        text-decoration: underline;
        transition: all .9s;

        &:visited {
            color: white;
        }

        &:hover {
            transition: all .5s;
            color: #FFC771;
            text-decoration: overline;
        }
    }

    &__consult {
        display: block;
        @extend %defualt-btn;
        margin: 0 auto;
        font-weight: 700;

    }

    &__backet {
        position: relative;

        &::after {
            position: absolute;
            display: block;
            overflow: hidden;
            width: 373px;
            height: 373px;
            content: "";
            left: 73%;
            bottom: 0%;
            background: url("/Img/Decor/Paint\ Cans\ and\ Brushes.G03\ 1.svg")no-repeat;
        }
    }
}

// =================================solutions==========================
.solutions {
    margin-top: 100px;

    &__row-wrapper {
        margin: 0 auto 40px;
        max-width: 1040px;
    }

    &__heading {
        margin-bottom: 30px;
    }

    &__title {
        @extend %default-title;
        max-width: 660px;
        margin-bottom: 7px;

        & span {
            color: $text-span;
        }
    }

    &__text {
        @extend %text;

    }

    &__row-body {
        margin: 0 -20px;
        display: flex;
    }

    &__row-items {
        padding: 0px 20px;
        flex: 0 1 33.333%;
        display: flex;
    }

    &__row-item {
        display: flex;
        flex-direction: column;
        background-color: #F9F9F9;
        border-radius: 10px;
        border: 1px solid #F9F9F9;
        padding: 23px 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.589);
    }



    &__row-tariff {
        font-weight: 700;
        line-height: 28px;
        font-size: 23px;
        color: $text-color;
    }

    &__row-area {
        font-size: 23px;
        line-height: 28px;

    }


    &__row-list {
        padding: 35px 5px;
        flex: 1 1 auto;
    }

    &__row-link {
        @extend %defualt-btn;
        max-width: 280px;
    }

    &-link {
        margin: 0 auto;
        color: $text-color;
        display: block;
        border-bottom: 1px solid $text-color;
        max-width: 502px;
        @extend %text;

        &:visited {
            color: $text-color;
        }

        &:hover {
            border-bottom: none;
            transition: .3s;
            color: #FFC771
        }
    }
}

// -----------------------price---------------------------------
.price {
    padding-bottom: 200px;

    &__content {
        display: flex;
        justify-content: space-between;


    }

    &__form {
        padding-right: 15px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__item {
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 10px 10px;
        background-color: #ffffff;
        width: 100%
    }

    &__title {
        margin-top: 50px;
        @extend %default-title;
        max-width: 660px;
        margin-bottom: 50px;

    }

    // & span {
    //     color: $text-span;
    // }

    &__image {
        max-width: 50%;

    }

    &__count {padding-top: 40px;
        margin: 10px 0 25px;}

        &__advance{
            font-size: 18px;
            color: rgba(0, 0, 0, 0.754);
            margin-bottom: 20px;
        
        }
        &__final{
            color: black;
            font-weight: 700;
            font-size: 24px;
        }

    &__plo {
        margin-top: 45px;
        margin-bottom: 40px;
    }

    &__calc-btn {
        @extend %defualt-btn;
        margin-top: 50px;
        max-width: 380px;
    }

    &__stair {position: relative;
        
       

        &:after {
            position: absolute;
            content:"";
            display: block;
            width: 470px;
            height: 300px;
            left: 50%;
            bottom: 0%;
           
        }

    }

    &__inp {
        position: relative;

        &::before {
            position: absolute;
            content: "10";
            top: 178%;
            left: 0;
            font-family: Gilroy;
            font-size: 16px;
        }

        &::after {
            position: absolute;
            content: "300";
            display: block;
            top: 178%;
            right: 0%;
            font-family: Gilroy;
            font-size: 16px;

        }

    }

}

// -------------------------trust---------------------