@font-face {
    font-family: 'MADE TheArtist Script';
    src: url('./fonts/MADETheArtistScript.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.text{
    font-family: 'MADE TheArtist Script';
    font-size: 2em;
}